<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Mercadoliebre</title>
  </head>
  <body>
    <header>
      <div class="navLinksLogo">
        <a href="/">
          <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo" />
        </a>
        <div class="inputSearch">
          <input type="text" placeholder="Busca tu producto" value="" />
          <div class="lupa">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              className="icon icon-tabler icon-tabler-search"
              width="15"
              height="15"
              viewBox="0 0 24 24"
              strokeWidth="1.5"
              stroke="#000000"
              fill="none"
              strokeLinecap="round"
              strokeLinejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
            </svg>
          </div>
        </div>
        <h4 class="titulo">
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </h4>
        <div class="menuContainerHamburguesa">
          <i
            class="fa-solid fa-bars menuHamburguesa"
            style="color: #ffffff"
          ></i>
        </div>
      </div>
      <div class="navLinks">
        <ul class="ulLinks">
          <li>Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
        </ul>
        <ul class="ulLinks">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fa-regular fa-id-card"></i></a>
          </li>
          <li>Mis compras <i class="fa-solid fa-cart-shopping"></i></li>
        </ul>
      </div>
    </header>
    <main class="formMain">
      <form action="/" method="POST" class="formCuenta">
        <div class="columns3">
          <div class="columns">
            <label for="nombre">Nombre completo</label>
            <input type="text" name="nombreusuario" class="inputText" />

            <label for="nombreusuario">Nombre de usuario</label>
            <input type="email" name="email" class="inputText" />

            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" class="inputText" />
          </div>
          <div class="columns">
            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" class="inputText" />

            <label for="email">Email</label>
            <input type="password" name="password" class="inputText" />

            <label for="password">Contraseña</label>
            <input type="text" name="nombre" class="inputText" />
          </div>
          <div class="columns">
            <label for="perfil">Perfil de usuario</label>
            <div class="flexRadio">
              <input
                type="radio"
                name="perfil"
                value="comprador"
                class="inputCheck"
              /><span>Comprador</span>
              <input
                type="radio"
                name="perfil"
                value="vendedor"
                class="inputCheck"
              /><span>Vendedor</span>
            </div>

            <label for="categorias">Categorías de interés</label>
            <div class="flexCategorias">
              <div class="flexRadio">
                <input
                  type="checkbox"
                  name="categorias"
                  value="electro"
                  class="inputCheck"
                />
                <span>Electro</span>
              </div>
              <div class="flexRadio">
                <input
                  type="checkbox"
                  name="categorias"
                  value="moda"
                  class="inputCheck"
                />
                <span>Moda</span>
              </div>
              <div class="flexRadio">
                <input
                  type="checkbox"
                  name="categorias"
                  value="jugueteria"
                  class="inputCheck"
                />
                <span>Juguetería</span>
              </div>
              <div class="flexRadio">
                <input
                  type="checkbox"
                  name="categorias"
                  value="vidasana"
                  class="inputCheck"
                />
                <span>Vida Sana</span>
              </div>
              <div class="flexRadio">
                <input
                  type="checkbox"
                  name="categorias"
                  value="hogar"
                  class="inputCheck"
                />
                <span>Hogar</span>
              </div>
            </div>
            <!-- 
            <label for="foto">Foto de perfil</label>
            <input type="file" accept=".jpg" name="foto" /> -->
          </div>
        </div>

        <div class="flexRadio">
          <button type="reset">Cancelar</button>
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <footer>
      <div class="footerInfo">
        <div>
          <i class="fa-solid fa-credit-card fa-lg iconF"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div>
          <i class="fa-solid fa-gift fa-lg iconF"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div>
          <i class="fa-solid fa-user-shield fa-lg iconF"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
